.create--post {
  display: flex;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.close--post {
  position: absolute;
  top: 1.4%;
  right: 1%;
  color: #fff;
  font-size: 4rem;
}

.choose-file {
  background-color: #0095f6;
  font-size: 1.5rem;
  color: white;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.form {
  height: 80%;
  width: 64rem;
  background-color: #fff;
  border-radius: 1.2rem;
}

.create--post__title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  color: #000;
  border-bottom: 1px solid #dad8d8;
}

.form-drop {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload--icon {
  font-size: 7.2rem;
}

#myfile {
  display: none;
}

.myfile--input {
  width: 100%;
  height: 20%;
  font-size: 1.4rem;
  font-weight: 500;
  color: #262626;
}

.choose-file-label {
  font-size: 2.2rem;
  font-weight: 300;
  color: #262626;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.post--content__input {
  width: 40%;
  height: 3.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #262626;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  padding-left: 0.8rem;
}

.post--submit {
  background-color: #0095f6;
  font-size: 1.5rem;
  color: white;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
}

.delete--post {
  background-color: #0095f6;
  font-size: 1.5rem;
  color: white;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.delete--post ion-icon {
  color: red;
  font-size: 2rem;
  color: white;
}